version: '3.8'

services:
  backend:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8001
    ports:
      - "8001:8001"
    volumes:
      - ./app:/app
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DB_PATH=/app/data/assets.db

  frontend:
    build: .
    command: streamlit run app/dashboard.py --server.port 8501 --server.address 0.0.0.0 --server.enableCORS=false --server.enableXsrfProtection=false --server.enableWebsocketCompression=false
    ports:
      - "8501:8501"
    volumes:
      - ./app:/app
    env_file:
      - .env
    environment:
      - API_URL=http://backend:8001/api/assets
    depends_on:
      - backend
